.section-area{
	height: 100vh;
	overflow: hidden;
	min-height: 500px;

	@media(min-width: $sm){
		min-height: 600px;
	}

	&--no-full-ht{
		@media(min-width: $md){
			min-height: 240px;
		}
	}

	&--footer{
		@media(min-width: $md){
			min-height: 260px;
		}
	}

	&.section{
		&--gray-bg{
			background: $bg-gray;
		}

		&--approach{
			padding-top: 80px;
			position: relative;
		}
	}
}

.nav-container, .section-container{
	@include center(auto, $pad: 26px);

	@media(min-width: $md){
		@include center(auto, $pad: 80px);
	}
}

.section-container{
	height: 100%;
    position: relative;
	&--about {
		display: flex;
		align-items: flex-end;
	}

	&--services{
		background: white;
	}
}