//.approach-parent-container
//.approach-container-wrapper

.approach-content
	ul.approach-content-list
		li.approach-content-list-item
			p.description-text.approach-content-list-item__description Our approach to data science is founded on decades of hands-on experience as industrial users. We start with the firm belief that domain knowledge and humans are the key elements of successful industrial digital transformation.
		li.approach-content-list-item
			p.description-text.approach-content-list-item__description!= 'We focus as much on applications as the platform. Our applications interact with the user in their industrial, domain specific language and fit within their existing work processes.  We build our applications using the most modern data science and machine learning technologies, butwe know from experience that "black box" algorithms, however smart, do not provide continued value and adoption in industrial applications. <i>The human experience and knowledge link must remain in the loop.</i>'
		li.approach-content-list-item
			p.description-text.approach-content-list-item__description In the deployment of our applications, the users fully participate in the development, modification and adjustment of the application behavior – not a “black box” that you have no control over.  For example, when providing reliability or yield predictions, we focus as much on providing the key parameters leading to the prediction as the prediction itself.
		li.approach-content-list-item
			p.description-text.approach-content-list-item__description!= 'We take the mystery out of data science and artificial intelligence for the industrial user. We build <i>augmented intelligence</i> that not only aides and guides the user, but also applies user feedback and knowledge to continually improve and remain relevant.'