.content-wrapper
	ul.banner-content-slider-list
		li.banner-content-list-item
			h3.content-wrapper__header!= '<span class="bold-text">70% of reliability</span> improvements efforts <span class="bold-text">fail</span> to generate sustainable business results'
			span.content-wrapper__text-footer - Benchmarking study
		li.banner-content-list-item
			h3.content-wrapper__header!= 'Just <span class="bold-text">3% of all data</span> is currently tagged and ready for manipulation, and only one sixth of this - 0.5% - <span class="bold-text">is used for analysis</span>'
			span.content-wrapper__text-footer - IDC Study – Digital Universe 2012
		li.banner-content-list-item
			h3.content-wrapper__header!= '..the <span class="bold-text">fourth industrial revolution</span> is not about starting with a clean sheet of paper…but..about integrating efficiently within the <span class="bold-text">existing</span> design and <span class="bold-text">manufacturing environment</span>'
			span.content-wrapper__text-footer - Harvard Business Review