.initial-screen
	h2.initial-screen__header.big-header experiment to innovate
	ul.initial-shapes-container
		//Square shape
		li.initial-shapes-container-item
			svg.initial-shapes-img.initial-shapes-img--rect
				rect.initial-shapes-img__svgs.initial-shapes-img__svgs--rect(x="45" y="45")
		//END: Square shape

		//Hexagone shape
		li.initial-shapes-container-item
			svg.initial-shapes-img
				polygon.initial-shapes-img__svgs.initial-shapes-img__svgs--hex(points="134.051,8.32 238.74,68.9 238.74,189.54 134.051,249.86 29.7,189.54 29.7,68.9")

		//END: Hexagone shape

		//END: Circle shape
		li.initial-shapes-container-item
			svg.initial-shapes-img
				circle.initial-shapes-img__svgs.initial-shapes-img__svgs--circle(cx="135" cy="135" r="120")
		//END: Circle shape

		//Triangle shape
		li.initial-shapes-container-item
			svg.initial-shapes-img
				polygon.initial-shapes-img__svgs.initial-shapes-img__svgs--triangle(points="14.3,221.26 128.947,22.62 243.75,221.26")
		//END: Triangle shape