.hamburger-menu.open-nav(data-hamburger-bg="white-nav")
		a.hamburger-menu__btn.nav-btn(href="#")

.navigation-bar(data-nav-bg="white-nav")
	ul.nav-link-list
		li.nav-link-item.active-sec
			a.nav-link-text.nav-link-item__link.go-to-sec(href="#home"): span.nav-link-item-text Home
		li.nav-link-item
			a.nav-link-text.nav-link-item__link.go-to-sec(href="#about"): span.nav-link-item-text Why Quartic.ai
		li.nav-link-item
			a.nav-link-text.nav-link-item__link.go-to-sec(href="#services"): span.nav-link-item-text Solutions
		li.nav-link-item
			a.nav-link-text.nav-link-item__link.go-to-sec(href="#approach"): span.nav-link-item-text Our Approach
		li.nav-link-item
			a.nav-link-text.nav-link-item__link.go-to-sec(href="#industries"): span.nav-link-item-text Industries
		//li.nav-link-item
			a.nav-link-text.nav-link-item__link.go-to-sec(href="#contact") Contact
