$trans-time: 0.4s;

.navigation-bar{
	position: fixed;
    top: 0;
    left: 0;
	display: none;
    width: 100%;
    height: 100%;
	overflow: hidden;
    @include gradient-bg;
    z-index: 1000;
	display: flex;
    justify-content: center;
    align-items: center;
	transform-origin: right;
	transform: scaleX(0);
	opacity: 0;
	transition: $trans-time ease;

	@media(min-width: $md){
		background: none;
		width: 150px;
		left: auto;
		right: 35px;
		opacity: 1;
		transform: scaleX(1);
		justify-content: flex-end;
	}

	&.active{
		opacity: 1;
		transform: scaleX(1);

		.nav-link-list{
			opacity: 1;
		}
	}

	/*------Link items in navigation menu------*/

	.nav-link-list{
		text-align: center;
		opacity: 0;
		transition: 0.2s ease;

		@media(min-width: $md){
			text-align: right;
			opacity: 1;
			width: 80%;
			transition: $trans-time ease;
		}

		.nav-link-item{
			margin-top: 30px;
			position: relative;

			@media(min-width: $md){
				margin-top: 5px;
				overflow: hidden;
			}

			&:first-child{
				margin-top: 0px;
			}

			&__link{

				&:after{
					@media(min-width: $md){
						position: absolute;
						content: "";
						width: 100%;
						height: 1px;
						right: 0;
						bottom: 0;
						transform: scaleX(0.1);
						transform-origin: right;
						transition: $trans-time ease;
					}
				}

				&:hover{
					&::after{
						@media(min-width: $md){
							transform: scaleX(1);
							opacity: 1;
						}
					}

					.nav-link-item-text{
						@media(min-width: $md){
							opacity: 1;
							transform: translateX(0px);
						}
					}
				}

				display: block;
				transition: 0.2s ease;

				.nav-link-item-text{
					padding: 7px 10px;
					display: block;
					transition: 0.2s ease;

					@media(min-width: $md){
						text-transform: uppercase;
						opacity: 0;
						padding-bottom: 0px;
						padding-right: 0px;
						padding-left: 0px;
						text-align: left;
						transform: translateX(16px);
						transition: $trans-time ease;
					}

					&:hover{
						background: $orange;
						@media(max-width:$md) {
							color: #000;
						}
						@media(min-width: $md){

							background: none;
						}
					}
				}
			}
		}
	}

	/*------END: Link items in navigation menu------*/
}


/*----------Hamburger menu----------*/

.hamburger-menu{
	position: fixed;
	top: 30px;
	right: 30px;
	z-index: 10001;

	@media(min-width: $md){
		display: none;
	}

	&__btn{
		position: relative;
		height: 10px;
		width: 24px;
		display: inline-block;

		&:before, &:after{
			content: '';
			width: 24px;
			height: 2px;
			background: white;
			position: absolute;
			left: 0;
			transition: all ease-in-out 0.2s;
		}

		&:before{
			top: 0;
		}

		&:after{
			top: 8px;
		}

		&:hover{
			&::before{
				transform: translate(0px, -1px);
			}

			&::after{
				transform: translate(0px, 1px);
			}
		}

		&.active{
			&:before{
				transform: rotate(45deg);
			}

			&:after{
				transform: rotate(-45deg) translate(6px, -5px);
			}
		}
	}

	&[data-hamburger-bg="white-nav"]{
		.hamburger-menu__btn{
			&:before, &:after{
				background: white;
			}

			&.active{
				&:before, &:after{
					background: white;
				}
			}
		}
	}
	&[data-hamburger-bg="black-nav"]{
		.hamburger-menu__btn{
			&:before, &:after{
				background: black;
			}

			&.active{
				&:before, &:after{
					background: white;
				}
			}
		}
	}
}

/*----------END: Hamburger menu----------*/

.navigation-bar{
	&[data-nav-bg="white-nav"]{
		.nav-link-item{

			&__link{

				&:after{
					@media(min-width: $md){
						opacity: 0.7;
						background: white;
					}
				}

				@media(min-width: $md){
					color: white;
				}

			}


			&__link{
				&:hover{
					@media(min-width: $md){
						color: white;
					}
				}
			}
		}

		.active-sec{

			.nav-link-item__link{

				&:after{
					@media(min-width: $md){
						opacity: 1;
						background: white;
						transform: scaleX(0.3);
					}
				}
			}


			@media(min-width: $md){
				color: white;
			}

			&:hover{
				.nav-link-item__link{

					&:after{
						@media(min-width: $md){
							transform: scaleX(1);
						}
					}
				}
			}
		}
	}

	&[data-nav-bg="black-nav"]{
		.nav-link-item{

			&__link{

				&:after{
					@media(min-width: $md){
						opacity: 0.7;
						background: $black;
					}
				}

				@media(min-width: $md){
					color: $black;
				}
			}


			&__link{
				&:hover{
					@media(min-width: $md){
						color: $black;
					}
				}
			}
		}

		.active-sec{

			.nav-link-item__link{

				&:after{
					@media(min-width: $md){
						opacity: 1;
						background: $black;
						transform: scaleX(0.3);
					}
				}

				@media(min-width: $md){
					color: $black;
				}
			}

			&:hover{
				.nav-link-item__link{

					&:after{
						@media(min-width: $md){
							transform: scaleX(1);
						}
					}
				}
			}
		}
	}
}