section.section-area.section--approach.section--gray-bg#approach.approach-section.initial-state(data-bg="black-nav")
	include ../components/initial-screen.pug
	.approach-parent-container
		.approach-container-wrapper
			.approach-indicators-wrapper.animate-indicators
				include ../components/shapes-slider.pug
			include ../components/approach-slider.pug