section.section-area.banner-2#banner-2(data-bg="white-nav")
	// parallax bacground
	.items
		.js-scene.items_inner
			// first image
			.items__layer.layer.layer-1(data-depth='1.35')
				.items__item(data-title='no.2 item-1')
					img.items__item.img-1(src='img/particles/Triangle_Border.png')
			// second image
			.items__layer.layer.layer-2(data-depth='0.70')
				.items__item(data-title='no.2 item-2')
					img.items__item.img-2(src='img/particles/Triangle_Border.png')
			// third image
			.items__layer.layer.layer-3(data-depth='2.65')
				.items__item(data-title='no.3 item-3')
					img.items__item.img-3(src='img/particles/Triangle_Border.png')
			// fourth image
			.items__layer.layer.layer-4(data-depth='1.20')
				.items__item(data-title='no.4 item-4')
					img.items__item.img-4(src='img/particles/Triangle_Border.png')
			// fifth image
			.items__layer.layer.layer-5(data-depth='0.65')
				.items__item(data-title='no.3 item-3')
					img.items__item.img-5(src='img/particles/Triangle_Border.png')
			// sixth image
			.items__layer.layer.layer-6(data-depth='1.85')
				.items__item(data-title='no.3 item-6')
					img.items__item.img-6(src='img/particles/Triangle_Border.png')
			// seventh image
			.items__layer.layer.layer-7(data-depth='0.05')
				.items__item(data-title='no.3 item-7')
					img.items__item.img-7(src='img/particles/Triangle_Border.png')
			// eight image
			.items__layer.layer.layer-8(data-depth='0.25')
				.items__item(data-title='no.3 item-8')
					img.items__item.img-8(src='img/particles/Triangle_Border.png')
			// ninth image
			.items__layer.layer.layer-9(data-depth='1.75')
				.items__item(data-title='no.3 item-9')
					img.items__item.img-9(src='img/particles/Triangle_Border.png')

	.section-container.banner-2-container
		.banner-2-contents
			.banner-2-content-block
				.banner-2-inner-block
					h1.banner-2-inner-block__header
						span SMART INDUSTRY.
						span.heading-new-line DELIVERED.
					p.brief-text Let
						span.highlight  Quartic.ai
						|  help you make your
						span.highlight.yellow-highlight  Reliability
						|  and
						span.highlight.yellow-highlight  Operational Excellence
						|  programs deliver results and transform your industry to Smart Industry!
			.image-block
				.one-above-all
					svg.main-svg-cont#pb(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 304 450', style='enable-background:new 0 0 304 450;', xml:space='preserve')
						style(type='text/css').
							.st0{opacity:0.49;fill:url(#XMLID_3_);enable-background:new    ;}
							.st1{opacity:0.25;fill:url(#XMLID_4_);enable-background:new    ;}
							.st2{opacity:0.18;fill:#FFFFFF;enable-background:new    ;}
							.st3{fill:#F87D52;}
							.st4{fill:#EA5F34;}
							.st5{fill:#F49376;}
							.st6{fill:url(#XMLID_5_);}
							.st7{fill:#FFFFFF;}
							.st8{opacity:0.3;fill:none;stroke:#F79339;stroke-width:2;stroke-miterlimit:10;enable-background:new    ;}
							.st9{enable-background:new    ;}
							.st10{clip-path:url(#SVGID_2_);}
							.st11{fill:#F79338;}
							.st12{clip-path:url(#SVGID_4_);}
							.st13{clip-path:url(#SVGID_6_);}
							.st14{clip-path:url(#SVGID_8_);}
							.st15{clip-path:url(#SVGID_10_);}
							.st16{clip-path:url(#SVGID_12_);}
							.st17{clip-path:url(#SVGID_14_);}
							.st18{clip-path:url(#SVGID_16_);}
							.st19{clip-path:url(#SVGID_18_);}
							.st20{clip-path:url(#SVGID_20_);}
							.st21{clip-path:url(#SVGID_22_);}
							.st22{clip-path:url(#SVGID_24_);}
							.st23{clip-path:url(#SVGID_26_);}
							.st24{clip-path:url(#SVGID_28_);}
							.st25{clip-path:url(#SVGID_30_);}
							.st26{clip-path:url(#SVGID_32_);}
							.st27{clip-path:url(#SVGID_34_);}
							.st28{clip-path:url(#SVGID_36_);}
							.st29{clip-path:url(#SVGID_38_);}
							.st30{clip-path:url(#SVGID_40_);}
							.st31{clip-path:url(#SVGID_42_);}
							.st32{clip-path:url(#SVGID_44_);}
							.st33{clip-path:url(#SVGID_46_);}
							.st34{clip-path:url(#SVGID_48_);}
							.st35{clip-path:url(#SVGID_50_);}
							.st36{clip-path:url(#SVGID_52_);}
							.st37{clip-path:url(#SVGID_54_);}
							.st38{clip-path:url(#SVGID_56_);}
							.st39{clip-path:url(#SVGID_58_);}
							.st40{clip-path:url(#SVGID_60_);}
							.st41{clip-path:url(#SVGID_62_);}
							.st42{clip-path:url(#SVGID_64_);}
							.st43{clip-path:url(#SVGID_66_);}
							.st44{clip-path:url(#SVGID_68_);}
							.st45{clip-path:url(#SVGID_70_);}
							.st46{clip-path:url(#SVGID_72_);}
							.st47{clip-path:url(#SVGID_74_);}
							.st48{clip-path:url(#SVGID_76_);}
							.st49{clip-path:url(#SVGID_78_);}
							.st50{clip-path:url(#SVGID_80_);}
							.st51{clip-path:url(#SVGID_82_);}
							.st52{clip-path:url(#SVGID_84_);}
							.st53{clip-path:url(#SVGID_86_);}
							.st54{clip-path:url(#SVGID_88_);}
							.st55{clip-path:url(#SVGID_90_);}
							.st56{clip-path:url(#SVGID_92_);}
							.st57{clip-path:url(#SVGID_94_);}
							.st58{clip-path:url(#SVGID_96_);}
							.st59{clip-path:url(#SVGID_98_);}
							.st60{clip-path:url(#SVGID_100_);}
							.st61{clip-path:url(#SVGID_102_);}
							.st62{clip-path:url(#SVGID_104_);}
							.st63{clip-path:url(#SVGID_106_);}
							.st64{clip-path:url(#SVGID_108_);}
							.st65{clip-path:url(#SVGID_110_);}
							.st66{clip-path:url(#SVGID_112_);}
							.st67{clip-path:url(#SVGID_114_);}
							.st68{clip-path:url(#SVGID_116_);}
							.st69{clip-path:url(#SVGID_118_);}
							.st70{fill:#F47D54;}
							.st71{opacity:0.15;fill:#F79338;enable-background:new    ;}
							.st72{opacity:0.27;fill:url(#XMLID_6_);enable-background:new    ;}
							.st73{opacity:0.27;fill:url(#XMLID_7_);enable-background:new    ;}
							.st74{opacity:0.27;fill:url(#XMLID_8_);enable-background:new    ;}
							.st75{opacity:0.33;fill:url(#XMLID_9_);enable-background:new    ;}
							.st76{opacity:0.27;fill:url(#XMLID_10_);enable-background:new    ;}
							.st77{opacity:0.38;fill:url(#XMLID_11_);enable-background:new    ;}
							.st78{opacity:0.33;fill:url(#XMLID_12_);enable-background:new    ;}
							.st79{opacity:0.94;fill:url(#XMLID_13_);enable-background:new    ;}
							.st80{fill:url(#XMLID_14_);}
							.st81{opacity:0.57;fill:url(#XMLID_15_);enable-background:new    ;}
							.st82{opacity:0.27;fill:url(#XMLID_16_);enable-background:new    ;}
						g.bottom-group
							g.banner-img-detail
								line.banner-img-detail__line(x1="-20" y1="370" x2="100" y2="370")
								text.nav-link-text.banner-img-detail__text(x="-100" y="370")
									tspan(x="-100") Smart
									tspan(x="-100" dy="15") Industry
							g.bottom-group-1
								lineargradient#XMLID_3_(gradientunits='userSpaceOnUse', x1='145.457', y1='380.6818', x2='167.6028', y2='636.8564', gradienttransform='matrix(1 0 0 -1 0 800)')
									stop(offset='0', style='stop-color:#FFFFFF;stop-opacity:0')
									stop(offset='1', style='stop-color:#F47D54')
								path#XMLID_3202_.st0(d='M46.5,359l98.4-56.4c4.2-2.4,9.6-2.4,13.8,0.2l95.1,57.2c3.1,2,3.1,6.5,0,8.3l-93.2,55.3\
								c-6.3,3.7-14.1,3.7-20.5-0.2l-93.8-57.2C43.8,364.5,43.8,360.6,46.5,359z')
								lineargradient#XMLID_4_(gradientunits='userSpaceOnUse', x1='144.6248', y1='331.1658', x2='166.7707', y2='587.3406', gradienttransform='matrix(1 0 0 -1 0 800)')
									stop(offset='0', style='stop-color:#FFFFFF;stop-opacity:0')
									stop(offset='1', style='stop-color:#F47D54')
								path#XMLID_2410_.st1(d='M48.3,378.5l98.4-56.4c4.2-2.4,9.6-2.4,13.8,0.2l95.1,57.2c3.1,2,3.1,6.5,0,8.3l-93.2,55.3\
								c-6.3,3.7-14.1,3.7-20.5-0.2l-93.8-57.2C45.5,384,45.5,380.1,48.3,378.5z')
								g
									rect#XMLID_4087_.st2(x='185', y='351.7', width='2.3', height='2.3')
									rect#XMLID_4089_.st2(x='193.1', y='348.9', width='3.6', height='3.6')
									rect#XMLID_4090_.st2(x='192.6', y='359.1', width='1.9', height='1.9')
								g
									rect#XMLID_4091_.st2(x='103', y='328.4', width='3.9', height='3.9')
									rect#XMLID_4093_.st2(x='112.9', y='334', width='2.3', height='2.3')
									rect#XMLID_4092_.st2(x='100.8', y='341.2', width='1.9', height='1.9')
								g
									rect#XMLID_4121_.st2(x='144.2', y='378.8', width='4.3', height='4.3')
									rect#XMLID_4122_.st2(x='154.2', y='385.1', width='1.9', height='1.9')
							g.bottom-blocks
								g#XMLID_3198_.bottom-block-1.rotating-blocks
									path#XMLID_3201_.st3(d='M137.4,351.8l-0.2,21.3c0,1-0.5,1.8-1.4,2.3l-18.6,10.5c-0.8,0.5-1.8,0.5-2.7,0l-18.4-10.8\
									c-0.8-0.5-1.3-1.4-1.3-2.3l0.2-21.3c0-1,0.5-1.8,1.4-2.3l18.6-10.5c0.8-0.5,1.8-0.5,2.7,0l18.4,10.8\
									C136.9,350,137.4,350.9,137.4,351.8z')
									path#XMLID_3200_.st4(d='M116.4,386.5c-0.1,0.1-0.2,0-0.2-0.1v-22c0-0.6,0.3-1.1,0.8-1.4l20.4-11.6l0,22.4\
									c0,0.9-0.5,1.8-1.3,2.2L116.4,386.5z')
									path#XMLID_3199_.st5(d='M95.7,350.7l19.8,12.6c0.4,0.3,0.6,0.7,0.6,1.2v22c0,0.2-0.2,0.3-0.4,0.2l-20.2-12.1\
									c-0.4-0.2-0.7-0.7-0.7-1.2l0.2-22.3C95.1,350.7,95.4,350.6,95.7,350.7z')
								g#XMLID_3193_.bottom-block-2.rotating-blocks
									path#XMLID_3197_.st3(d='M153.4,397.9l-0.1,10.3c0,0.5-0.3,0.9-0.7,1.1l-9,5.1c-0.4,0.2-0.9,0.2-1.3,0l-8.9-5.3\
									c-0.4-0.2-0.6-0.7-0.6-1.1l0.1-10.3c0-0.5,0.3-0.9,0.7-1.1l9-5.1c0.4-0.2,0.9-0.2,1.3,0l8.9,5.3C153.1,397,153.4,397.5,153.4,397.9\
									z')
									path#XMLID_3196_.st4(d='M143.1,414.6V404c0-0.3,0.1-0.5,0.4-0.7l9.9-5.8l0,11.4c0,0.2-0.1,0.5-0.3,0.6L143.1,414.6z')
									path#XMLID_3194_.st5(d='M133.2,397.4l9.6,6.1c0.2,0.1,0.3,0.3,0.3,0.6v10.2c0,0.3-0.3,0.5-0.6,0.3l-9.4-5.6\
									c-0.2-0.1-0.3-0.3-0.3-0.6l0.1-10.8C132.9,397.4,133,397.3,133.2,397.4z')
								g#XMLID_3187_.bottom-block-3.rotating-blocks
									path#XMLID_3190_.st3(d='M182.1,363.9l-0.2,14.9c0,0.7-0.4,1.3-1,1.6l-13,7.3c-0.6,0.3-1.3,0.3-1.9,0l-12.9-7.6\
									c-0.6-0.3-0.9-1-0.9-1.6l0.2-14.9c0-0.7,0.4-1.3,1-1.6l13-7.3c0.6-0.3,1.3-0.3,1.9,0l12.9,7.6C181.8,362.6,182.1,363.3,182.1,363.9\
									z')
									path#XMLID_3189_.st4(d='M167.3,388v-15.4c0-0.4,0.2-0.8,0.6-1l14.3-8.4l0,16.6c0,0.3-0.1,0.5-0.4,0.6L167.3,388z')
									path#XMLID_3188_.st5(d='M152.9,363.1l13.9,8.8c0.3,0.2,0.4,0.5,0.4,0.8v14.7c0,0.4-0.5,0.7-0.8,0.5l-13.6-8.2\
									c-0.3-0.2-0.5-0.5-0.5-0.8l0.1-15.6C152.5,363.1,152.8,363,152.9,363.1z')
						g#background
							g.banner-img-detail
								line.banner-img-detail__line(x1="-20" y1="250" x2="100" y2="250")
								text.nav-link-text.banner-img-detail__text(x="-100" y="250")
									tspan(x="-100") Augumented
									tspan(x="-100" dy="15") Intelligence
							lineargradient#XMLID_5_(gradientunits='userSpaceOnUse', x1='33.4213', y1='-433.4924', x2='272.526', y2='-415.4488', gradienttransform='matrix(1 0 0 1 0 702)')
								stop(offset='0', style='stop-color:#F79338')
								stop(offset='1', style='stop-color:#F47D54')
							path#XMLID_10654_.st6(d='M284.1,236v9.5c0,4.2-2.1,8-5.7,10.2l-115,68.3c-10.4,5.9-23,5.9-33.2-0.2L14.7,254.4\
							c-3.6-2.1-5.7-5.9-5.7-10.2v-10.1L284.1,236z')
							path#XMLID_10645_.st7(d='M11.5,228.4l127.9-73.3c5.5-3.2,12.5-3.2,18,0.2l123.7,74.4c4,2.5,4,8.5,0,10.8l-121.2,71.9\
							c-8.2,4.9-18.4,4.9-26.6-0.2l-122-74.5C7.9,235.6,7.9,230.5,11.5,228.4z')
						g
							polyline#XMLID_155_.st8(points='63.5,217.1 74.3,223.6 75.5,228.6 	')
							polyline#XMLID_154_.st8(points='67.5,213.4 78.3,219.9 80.1,226.9 	')
							polyline#XMLID_153_.st8(points='69.5,209.8 80.3,216.3 83.4,225.7 90.7,230.6 	')
							polyline#XMLID_152_.st8(points='73,207 107.4,228.6 119.4,229.8 132.9,222 132.9,219.4 137.3,216.9 140.7,217.6 \
							147.1,213.9 160.5,214.4 179.5,204 187.4,204 193.9,200.2 193.9,195.4 	')
							polyline#XMLID_151_.st8(points='75.5,203 104.3,220.2 123.1,221 147.1,206.1 	')
							polyline#XMLID_150_.st8(points='91.7,230.6 94.5,232.6 83.4,238.4 84,243.7 52.1,261.8 52.1,326.5 	')
							polyline#XMLID_149_.st8(points='179.5,210.5 163.7,219.2 149.8,218.9 122.3,236.5 108.1,236 57.4,265.1 57.4,339.2 	\
							')
							polyline#XMLID_148_.st8(points='186.3,214.6 170.4,223.3 156.6,222.9 129.1,240.6 114.9,240.1 63.5,268.8 \
							63.5,352.2 	')
							polyline#XMLID_147_.st8(points='80.1,197 111.3,216.2 119.7,216.2 125.8,212.9 125.8,209.2 137.1,203 	')
							polyline#XMLID_146_.st8(points='86.9,194.4 113.1,210.7 137.1,197 	')
							polyline#XMLID_145_.st8(points='91.8,190.7 106.1,199.5 122.7,199 138.1,189.8 	')
							polyline#XMLID_144_.st8(points='96.4,188.2 100.9,191.4 118.1,192.2 130.1,186.9 126,184.2 	')
							line#XMLID_143_.st8(x1='104.2', y1='186.1', x2='118.8', y2='185.1')
							polyline#XMLID_142_.st8(points='140.3,241 122.1,250.8 109.3,250.3 69.5,272.5 69.5,343 	')
							polyline#XMLID_141_.st8(points='155.3,210.5 155.3,203 164.2,197.6 178.9,197.6 	')
							line#XMLID_140_.st8(x1='143.2', y1='200.2', x2='152.6', y2='195.4')
							polyline#XMLID_139_.st8(points='133.9,251.4 154.2,239.2 181.7,241 200.9,229.8 	')
							polyline#XMLID_138_.st8(points='145.3,239.4 144.8,235.3 157.7,226.9 185.1,226.9 204.9,216.2 	')
							polyline#XMLID_137_.st8(points='141.9,254.7 158.5,245 182.5,246.5 211.4,230.7 215.4,233.9 215.4,237.9 	')
							polyline#XMLID_136_.st8(points='210.5,227.1 210.5,218.1 217.9,213.5 217.4,207.7 	')
							polyline#XMLID_135_.st8(points='150.1,257.2 162.1,249.3 182.1,250.2 182.9,256.3 	')
							line#XMLID_134_.st8(x1='160.4', y1='255.5', x2='174.9', y2='255.9')
							polyline#XMLID_133_.st8(points='188.3,258 187.4,249.3 192.3,246.5 214.2,247.3 	')
							polyline#XMLID_132_.st8(points='201.4,243.3 215.4,243.3 228.7,235.3 227.2,221 232.3,217.9 	')
							polyline#XMLID_131_.st8(points='222.6,235.3 221.6,225.8 215.4,221.8 226.1,214.2 	')
							polyline#XMLID_130_.st8(points='193.4,254.2 201.2,254.9 204.1,252.9 212.6,253.3 	')
							polyline#XMLID_129_.st8(points='203.3,263.8 214.2,257.3 225.2,255.5 226.1,242.6 234.8,236.9 234.2,223.5 	')
							polyline#XMLID_128_.st8(points='212.1,266 220.2,261.1 234.8,260.4 	')
							line#XMLID_127_.st8(x1='244.4', y1='244.2', x2='229.9', y2='252.2')
							line#XMLID_126_.st8(x1='239.1', y1='230.6', x2='239.5', y2='241.1')
							polyline#XMLID_125_.st8(points='148.2,188.9 164.2,190.5 171.3,187.3 	')
							line#XMLID_124_.st8(x1='178.7', y1='189.6', x2='171.3', y2='194.4')
							line#XMLID_123_.st8(x1='158.8', y1='232.7', x2='182.7', y2='232.7')
						g#opacityy
							g#XMLID_17477_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_1_(points='70.2,206.8 72.5,205.5 74.8,206.8 72.5,208.1 											')
																clippath#SVGID_2_
																	use(xlink:href='#SVGID_1_', style='overflow:visible;')
																g.st10
																	g
																		g
																			g
																				polyline.st11(points='74.8,206.8 72.5,205.5 70.2,206.8 72.5,208.1 74.8,206.8 														')
							g#XMLID_17467_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_3_(points='64.6,212.9 66.9,211.6 69.1,212.9 66.9,214.3 											')
																clippath#SVGID_4_
																	use(xlink:href='#SVGID_3_', style='overflow:visible;')
																g.st12
																	g
																		g
																			g
																				polyline.st11(points='69.1,212.9 66.9,211.6 64.6,212.9 66.9,214.3 69.1,212.9 														')
							g#XMLID_17457_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_5_(points='73.1,203 75.3,201.7 77.6,203 75.4,204.3 											')
																clippath#SVGID_6_
																	use(xlink:href='#SVGID_5_', style='overflow:visible;')
																g.st13
																	g
																		g
																			g
																				polyline.st11(points='77.6,203 75.3,201.7 73.1,203 75.4,204.3 77.6,203 														')
							g#XMLID_17455_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_7_(points='144.4,206.1 146.7,204.8 149,206.1 146.7,207.4 											')
																clippath#SVGID_8_
																	use(xlink:href='#SVGID_7_', style='overflow:visible;')
																g.st14
																	g
																		g
																			g
																				polyline.st11(points='149,206.1 146.7,204.8 144.4,206.1 146.7,207.4 149,206.1 														')
							g#XMLID_17445_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_9_(points='101.2,219.5 103.4,218.2 105.7,219.5 103.4,220.9 											')
																clippath#SVGID_10_
																	use(xlink:href='#SVGID_9_', style='overflow:visible;')
																g.st15
																	g
																		g
																			g
																				polyline.st11(points='105.7,219.5 103.4,218.2 101.2,219.5 103.4,220.9 105.7,219.5 														')
							g#XMLID_17435_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_11_(points='88.9,230.6 91.1,229.3 93.4,230.6 91.2,231.9 											')
																clippath#SVGID_12_
																	use(xlink:href='#SVGID_11_', style='overflow:visible;')
																g.st16
																	g
																		g
																			g
																				polyline.st11(points='93.4,230.6 91.1,229.3 88.9,230.6 91.2,231.9 93.4,230.6 														')
							g#XMLID_17425_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_13_(points='134.6,202.9 136.9,201.6 139.2,202.9 136.9,204.2 											')
																clippath#SVGID_14_
																	use(xlink:href='#SVGID_13_', style='overflow:visible;')
																g.st17
																	g
																		g
																			g
																				polyline.st11(points='139.2,202.9 136.9,201.6 134.6,202.9 136.9,204.2 139.2,202.9 														')
							g#XMLID_17415_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_15_(points='78.6,197.6 80.9,196.2 83.2,197.6 80.9,198.9 											')
																clippath#SVGID_16_
																	use(xlink:href='#SVGID_15_', style='overflow:visible;')
																g.st18
																	g
																		g
																			g
																				polyline.st11(points='83.2,197.6 80.9,196.2 78.6,197.6 80.9,198.9 83.2,197.6 														')
							g#XMLID_17405_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_17_(points='84.5,194.4 86.8,193.1 89.1,194.4 86.8,195.7 											')
																clippath#SVGID_18_
																	use(xlink:href='#SVGID_17_', style='overflow:visible;')
																g.st19
																	g
																		g
																			g
																				polyline.st11(points='89.1,194.4 86.8,193.1 84.5,194.4 86.8,195.7 89.1,194.4 														')
							g#XMLID_17395_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_19_(points='134.6,197 136.9,195.7 139.2,197 136.9,198.3 											')
																clippath#SVGID_20_
																	use(xlink:href='#SVGID_19_', style='overflow:visible;')
																g.st20
																	g
																		g
																			g
																				polyline.st11(points='139.2,197 136.9,195.7 134.6,197 136.9,198.3 139.2,197 														')
							g#XMLID_17385_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_21_(points='150.1,194.7 152.4,193.3 154.7,194.7 152.4,196 											')
																clippath#SVGID_22_
																	use(xlink:href='#SVGID_21_', style='overflow:visible;')
																g.st21
																	g
																		g
																			g
																				polyline.st11(points='154.7,194.7 152.4,193.3 150.1,194.7 152.4,196 154.7,194.7 														')
							g#XMLID_17375_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_23_(points='175.5,189.8 177.8,188.5 180,189.8 177.8,191.1 											')
																clippath#SVGID_24_
																	use(xlink:href='#SVGID_23_', style='overflow:visible;')
																g.st22
																	g
																		g
																			g
																				polyline.st11(points='180,189.8 177.8,188.5 175.5,189.8 177.8,191.1 180,189.8 														')
							g#XMLID_17365_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_25_(points='137.9,241 140.1,239.7 142.4,241 140.1,242.3 											')
																clippath#SVGID_26_
																	use(xlink:href='#SVGID_25_', style='overflow:visible;')
																g.st23
																	g
																		g
																			g
																				polyline.st11(points='142.4,241 140.1,239.7 137.9,241 140.1,242.3 142.4,241 														')
							g#XMLID_17355_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_27_(points='184.3,214.6 186.5,213.2 188.8,214.6 186.5,215.9 											')
																clippath#SVGID_28_
																	use(xlink:href='#SVGID_27_', style='overflow:visible;')
																g.st24
																	g
																		g
																			g
																				polyline.st11(points='188.8,214.6 186.5,213.2 184.3,214.6 186.5,215.9 188.8,214.6 														')
							g#XMLID_17345_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_29_(points='180.5,232.7 182.8,231.4 185.1,232.7 182.8,234 											')
																clippath#SVGID_30_
																	use(xlink:href='#SVGID_29_', style='overflow:visible;')
																g.st25
																	g
																		g
																			g
																				polyline.st11(points='185.1,232.7 182.8,231.4 180.5,232.7 182.8,234 185.1,232.7 														')
							g#XMLID_17335_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_31_(points='157.3,232.7 159.6,231.4 161.9,232.7 159.6,234 											')
																clippath#SVGID_32_
																	use(xlink:href='#SVGID_31_', style='overflow:visible;')
																g.st26
																	g
																		g
																			g
																				polyline.st11(points='161.9,232.7 159.6,231.4 157.3,232.7 159.6,234 161.9,232.7 														')
							g#XMLID_17325_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_33_(points='202.5,215.4 204.8,214.1 207.1,215.5 204.8,216.8 											')
																clippath#SVGID_34_
																	use(xlink:href='#SVGID_33_', style='overflow:visible;')
																g.st27
																	g
																		g
																			g
																				polyline.st11(points='207.1,215.5 204.8,214.1 202.5,215.4 204.8,216.8 207.1,215.5 														')
							g#XMLID_17315_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_35_(points='215.4,208.7 217.7,207.4 220,208.7 217.7,210 											')
																clippath#SVGID_36_
																	use(xlink:href='#SVGID_35_', style='overflow:visible;')
																g.st28
																	g
																		g
																			g
																				polyline.st11(points='220,208.7 217.7,207.4 215.4,208.7 217.7,210 220,208.7 														')
							g#XMLID_17305_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_37_(points='229.1,217.9 231.3,216.6 233.6,217.9 231.3,219.2 											')
																clippath#SVGID_38_
																	use(xlink:href='#SVGID_37_', style='overflow:visible;')
																g.st29
																	g
																		g
																			g
																				polyline.st11(points='233.6,217.9 231.3,216.6 229.1,217.9 231.3,219.2 233.6,217.9 														')
							g#XMLID_17295_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_39_(points='236.6,241.1 238.9,239.8 241.2,241.1 238.9,242.4 											')
																clippath#SVGID_40_
																	use(xlink:href='#SVGID_39_', style='overflow:visible;')
																g.st30
																	g
																		g
																			g
																				polyline.st11(points='241.2,241.1 238.9,239.8 236.6,241.1 238.9,242.4 241.2,241.1 														')
							g#XMLID_17285_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_41_(points='231.9,223.5 234.2,222.2 236.5,223.5 234.2,224.8 											')
																clippath#SVGID_42_
																	use(xlink:href='#SVGID_41_', style='overflow:visible;')
																g.st31
																	g
																		g
																			g
																				polyline.st11(points='236.5,223.5 234.2,222.2 231.9,223.5 234.2,224.8 236.5,223.5 														')
							g#XMLID_17275_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_43_(points='237.1,230.6 239.3,229.3 241.6,230.6 239.3,231.9 											')
																clippath#SVGID_44_
																	use(xlink:href='#SVGID_43_', style='overflow:visible;')
																g.st32
																	g
																		g
																			g
																				polyline.st11(points='241.6,230.6 239.3,229.3 237.1,230.6 239.3,231.9 241.6,230.6 														')
							g#XMLID_17265_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_45_(points='241.6,244.2 243.8,242.9 246.1,244.2 243.9,245.6 											')
																clippath#SVGID_46_
																	use(xlink:href='#SVGID_45_', style='overflow:visible;')
																g.st33
																	g
																		g
																			g
																				polyline.st11(points='246.1,244.2 243.8,242.9 241.6,244.2 243.9,245.6 246.1,244.2 														')
							g#XMLID_17255_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_47_(points='227.5,252.2 229.7,250.9 232,252.2 229.7,253.6 											')
																clippath#SVGID_48_
																	use(xlink:href='#SVGID_47_', style='overflow:visible;')
																g.st34
																	g
																		g
																			g
																				polyline.st11(points='232,252.2 229.7,250.9 227.5,252.2 229.7,253.6 232,252.2 														')
							g#XMLID_17245_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_49_(points='200.9,263.4 203.2,262.1 205.5,263.4 203.2,264.8 											')
																clippath#SVGID_50_
																	use(xlink:href='#SVGID_49_', style='overflow:visible;')
																g.st35
																	g
																		g
																			g
																				polyline.st11(points='205.5,263.4 203.2,262.1 200.9,263.4 203.2,264.8 205.5,263.4 														')
							g#XMLID_17235_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_51_(points='232.8,260.4 235.1,259.1 237.4,260.4 235.1,261.7 											')
																clippath#SVGID_52_
																	use(xlink:href='#SVGID_51_', style='overflow:visible;')
																g.st36
																	g
																		g
																			g
																				polyline.st11(points='237.4,260.4 235.1,259.1 232.8,260.4 235.1,261.7 237.4,260.4 														')
							g#XMLID_17225_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_53_(points='209.8,266 212.1,264.7 214.3,266 212.1,267.3 											')
																clippath#SVGID_54_
																	use(xlink:href='#SVGID_53_', style='overflow:visible;')
																g.st37
																	g
																		g
																			g
																				polyline.st11(points='214.3,266 212.1,264.7 209.8,266 212.1,267.3 214.3,266 														')
							g#XMLID_17215_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_55_(points='223.6,214.6 225.9,213.2 228.2,214.6 225.9,215.9 											')
																clippath#SVGID_56_
																	use(xlink:href='#SVGID_55_', style='overflow:visible;')
																g.st38
																	g
																		g
																			g
																				polyline.st11(points='228.2,214.6 225.9,213.2 223.6,214.6 225.9,215.9 228.2,214.6 														')
							g#XMLID_17205_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_57_(points='219.9,234.3 222.2,233 224.5,234.3 222.2,235.6 											')
																clippath#SVGID_58_
																	use(xlink:href='#SVGID_57_', style='overflow:visible;')
																g.st39
																	g
																		g
																			g
																				polyline.st11(points='224.5,234.3 222.2,233 219.9,234.3 222.2,235.6 224.5,234.3 														')
							g#XMLID_17195_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_59_(points='199.3,243.3 201.6,242 203.8,243.3 201.6,244.6 											')
																clippath#SVGID_60_
																	use(xlink:href='#SVGID_59_', style='overflow:visible;')
																g.st40
																	g
																		g
																			g
																				polyline.st11(points='203.8,243.3 201.6,242 199.3,243.3 201.6,244.6 203.8,243.3 														')
							g#XMLID_17185_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_61_(points='213,236.9 215.3,235.6 217.6,236.9 215.3,238.3 											')
																clippath#SVGID_62_
																	use(xlink:href='#SVGID_61_', style='overflow:visible;')
																g.st41
																	g
																		g
																			g
																				polyline.st11(points='217.6,236.9 215.3,235.6 213,236.9 215.3,238.3 217.6,236.9 														')
							g#XMLID_17175_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_63_(points='208.1,227.4 210.4,226.1 212.6,227.4 210.4,228.8 											')
																clippath#SVGID_64_
																	use(xlink:href='#SVGID_63_', style='overflow:visible;')
																g.st42
																	g
																		g
																			g
																				polyline.st11(points='212.6,227.4 210.4,226.1 208.1,227.4 210.4,228.8 212.6,227.4 														')
							g#XMLID_17165_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_65_(points='148,257.2 150.3,255.8 152.6,257.2 150.3,258.5 											')
																clippath#SVGID_66_
																	use(xlink:href='#SVGID_65_', style='overflow:visible;')
																g.st43
																	g
																		g
																			g
																				polyline.st11(points='152.6,257.2 150.3,255.8 148,257.2 150.3,258.5 152.6,257.2 														')
							g#XMLID_17155_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_67_(points='180.3,256.3 182.6,255 184.9,256.3 182.6,257.7 											')
																clippath#SVGID_68_
																	use(xlink:href='#SVGID_67_', style='overflow:visible;')
																g.st44
																	g
																		g
																			g
																				polyline.st11(points='184.9,256.3 182.6,255 180.3,256.3 182.6,257.7 184.9,256.3 														')
							g#XMLID_17145_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_69_(points='211.8,247.1 214,245.8 216.3,247.1 214,248.4 											')
																clippath#SVGID_70_
																	use(xlink:href='#SVGID_69_', style='overflow:visible;')
																g.st45
																	g
																		g
																			g
																				polyline.st11(points='216.3,247.1 214,245.8 211.8,247.1 214,248.4 216.3,247.1 														')
							g#XMLID_17135_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_71_(points='211.4,253.2 213.7,251.9 216,253.2 213.7,254.6 											')
																clippath#SVGID_72_
																	use(xlink:href='#SVGID_71_', style='overflow:visible;')
																g.st46
																	g
																		g
																			g
																				polyline.st11(points='216,253.2 213.7,251.9 211.4,253.2 213.7,254.6 216,253.2 														')
							g#XMLID_17125_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_73_(points='191,254.1 193.3,252.8 195.5,254.1 193.3,255.4 											')
																clippath#SVGID_74_
																	use(xlink:href='#SVGID_73_', style='overflow:visible;')
																g.st47
																	g
																		g
																			g
																				polyline.st11(points='195.5,254.1 193.3,252.8 191,254.1 193.3,255.4 195.5,254.1 														')
							g#XMLID_17115_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_75_(points='185.9,258.8 188.1,257.4 190.4,258.8 188.1,260.1 											')
																clippath#SVGID_76_
																	use(xlink:href='#SVGID_75_', style='overflow:visible;')
																g.st48
																	g
																		g
																			g
																				polyline.st11(points='190.4,258.8 188.1,257.4 185.9,258.8 188.1,260.1 190.4,258.8 														')
							g#XMLID_17105_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_77_(points='158,255.5 160.3,254.2 162.6,255.5 160.3,256.9 											')
																clippath#SVGID_78_
																	use(xlink:href='#SVGID_77_', style='overflow:visible;')
																g.st49
																	g
																		g
																			g
																				polyline.st11(points='162.6,255.5 160.3,254.2 158,255.5 160.3,256.9 162.6,255.5 														')
							g#XMLID_17095_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_79_(points='172.4,255.7 174.7,254.4 177,255.7 174.7,257 											')
																clippath#SVGID_80_
																	use(xlink:href='#SVGID_79_', style='overflow:visible;')
																g.st50
																	g
																		g
																			g
																				polyline.st11(points='177,255.7 174.7,254.4 172.4,255.7 174.7,257 177,255.7 														')
							g#XMLID_17085_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_81_(points='199.3,229 201.6,227.7 203.8,229 201.6,230.4 											')
																clippath#SVGID_82_
																	use(xlink:href='#SVGID_81_', style='overflow:visible;')
																g.st51
																	g
																		g
																			g
																				polyline.st11(points='203.8,229 201.6,227.7 199.3,229 201.6,230.4 203.8,229 														')
							g#XMLID_17075_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_83_(points='139.9,254.7 142.2,253.4 144.5,254.7 142.2,256.1 											')
																clippath#SVGID_84_
																	use(xlink:href='#SVGID_83_', style='overflow:visible;')
																g.st52
																	g
																		g
																			g
																				polyline.st11(points='144.5,254.7 142.2,253.4 139.9,254.7 142.2,256.1 144.5,254.7 														')
							g#XMLID_17065_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_85_(points='132,251.4 134.3,250.1 136.6,251.4 134.3,252.7 											')
																clippath#SVGID_86_
																	use(xlink:href='#SVGID_85_', style='overflow:visible;')
																g.st53
																	g
																		g
																			g
																				polyline.st11(points='136.6,251.4 134.3,250.1 132,251.4 134.3,252.7 136.6,251.4 														')
							g#XMLID_17055_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_87_(points='176.5,197 178.8,195.7 181.1,197 178.8,198.3 											')
																clippath#SVGID_88_
																	use(xlink:href='#SVGID_87_', style='overflow:visible;')
																g.st54
																	g
																		g
																			g
																				polyline.st11(points='181.1,197 178.8,195.7 176.5,197 178.8,198.3 181.1,197 														')
							g#XMLID_17045_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_89_(points='177.1,209.8 179.4,208.5 181.6,209.8 179.4,211.1 											')
																clippath#SVGID_90_
																	use(xlink:href='#SVGID_89_', style='overflow:visible;')
																g.st55
																	g
																		g
																			g
																				polyline.st11(points='181.6,209.8 179.4,208.5 177.1,209.8 179.4,211.1 181.6,209.8 														')
							g#XMLID_17035_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_91_(points='191.5,196.3 193.8,194.9 196.1,196.3 193.8,197.6 											')
																clippath#SVGID_92_
																	use(xlink:href='#SVGID_91_', style='overflow:visible;')
																g.st56
																	g
																		g
																			g
																				polyline.st11(points='196.1,196.3 193.8,194.9 191.5,196.3 193.8,197.6 196.1,196.3 														')
							g#XMLID_17025_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_93_(points='168.9,194.7 171.1,193.3 173.4,194.7 171.2,196 											')
																clippath#SVGID_94_
																	use(xlink:href='#SVGID_93_', style='overflow:visible;')
																g.st57
																	g
																		g
																			g
																				polyline.st11(points='173.4,194.7 171.1,193.3 168.9,194.7 171.2,196 173.4,194.7 														')
							g#XMLID_17015_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_95_(points='200.6,201.1 202.9,199.8 205.2,201.1 202.9,202.4 											')
																clippath#SVGID_96_
																	use(xlink:href='#SVGID_95_', style='overflow:visible;')
																g.st58
																	g
																		g
																			g
																				polyline.st11(points='205.2,201.1 202.9,199.8 200.6,201.1 202.9,202.4 205.2,201.1 														')
							g#XMLID_17005_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_97_(points='193.1,212.6 195.4,211.3 197.7,212.6 195.4,213.9 											')
																clippath#SVGID_98_
																	use(xlink:href='#SVGID_97_', style='overflow:visible;')
																g.st59
																	g
																		g
																			g
																				polyline.st11(points='197.7,212.6 195.4,211.3 193.1,212.6 195.4,213.9 197.7,212.6 														')
							g#XMLID_16995_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_99_(points='152.9,209.8 155.2,208.5 157.4,209.8 155.2,211.1 											')
																clippath#SVGID_100_
																	use(xlink:href='#SVGID_99_', style='overflow:visible;')
																g.st60
																	g
																		g
																			g
																				polyline.st11(points='157.4,209.8 155.2,208.5 152.9,209.8 155.2,211.1 157.4,209.8 														')
							g#XMLID_16985_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_101_(points='142.4,199.5 144.6,198.2 146.9,199.5 144.7,200.8 											')
																clippath#SVGID_102_
																	use(xlink:href='#SVGID_101_', style='overflow:visible;')
																g.st61
																	g
																		g
																			g
																				polyline.st11(points='146.9,199.5 144.6,198.2 142.4,199.5 144.7,200.8 146.9,199.5 														')
							g#XMLID_16975_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_103_(points='110.5,209.8 112.8,208.5 115,209.8 112.8,211.1 											')
																clippath#SVGID_104_
																	use(xlink:href='#SVGID_103_', style='overflow:visible;')
																g.st62
																	g
																		g
																			g
																				polyline.st11(points='115,209.8 112.8,208.5 110.5,209.8 112.8,211.1 115,209.8 														')
							g#XMLID_16965_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_105_(points='136.2,189.8 138.5,188.5 140.8,189.8 138.5,191.1 											')
																clippath#SVGID_106_
																	use(xlink:href='#SVGID_105_', style='overflow:visible;')
																g.st63
																	g
																		g
																			g
																				polyline.st11(points='140.8,189.8 138.5,188.5 136.2,189.8 138.5,191.1 140.8,189.8 														')
							g#XMLID_16955_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_107_(points='146.4,188.9 148.7,187.6 151,188.9 148.7,190.2 											')
																clippath#SVGID_108_
																	use(xlink:href='#SVGID_107_', style='overflow:visible;')
																g.st64
																	g
																		g
																			g
																				polyline.st11(points='151,188.9 148.7,187.6 146.4,188.9 148.7,190.2 151,188.9 														')
							g#XMLID_16945_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_109_(points='89.9,191.2 92.2,189.9 94.5,191.2 92.2,192.5 											')
																clippath#SVGID_110_
																	use(xlink:href='#SVGID_109_', style='overflow:visible;')
																g.st65
																	g
																		g
																			g
																				polyline.st11(points='94.5,191.2 92.2,189.9 89.9,191.2 92.2,192.5 94.5,191.2 														')
							g#XMLID_16935_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_111_(points='101.8,186.1 104,184.8 106.3,186.1 104,187.5 											')
																clippath#SVGID_112_
																	use(xlink:href='#SVGID_111_', style='overflow:visible;')
																g.st66
																	g
																		g
																			g
																				polyline.st11(points='106.3,186.1 104,184.8 101.8,186.1 104,187.5 106.3,186.1 														')
							g#XMLID_16925_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_113_(points='116,185.1 118.3,183.8 120.6,185.1 118.3,186.4 											')
																clippath#SVGID_114_
																	use(xlink:href='#SVGID_113_', style='overflow:visible;')
																g.st67
																	g
																		g
																			g
																				polyline.st11(points='120.6,185.1 118.3,183.8 116,185.1 118.3,186.4 120.6,185.1 														')
							g#XMLID_16915_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_115_(points='94.9,188.9 97.2,187.6 99.5,188.9 97.2,190.2 											')
																clippath#SVGID_116_
																	use(xlink:href='#SVGID_115_', style='overflow:visible;')
																g.st68
																	g
																		g
																			g
																				polyline.st11(points='99.5,188.9 97.2,187.6 94.9,188.9 97.2,190.2 99.5,188.9 														')
							g#XMLID_16905_
								g
									g.st9
										g
											g
												g
													g
														g
															g
																defs
																	polygon#SVGID_117_(points='123.5,184.5 125.8,183.2 128,184.5 125.8,185.9 											')
																clippath#SVGID_118_
																	use(xlink:href='#SVGID_117_', style='overflow:visible;')
																g.st69
																	g
																		g
																			g
																				polyline.st11(points='128,184.5 125.8,183.2 123.5,184.5 125.8,185.9 128,184.5 														')
							rect#XMLID_122_.st70(x='67.9', y='340.3', width='3.6', height='3.6')
							rect#XMLID_121_.st70(x='61.9', y='350', width='3.6', height='3.6')
							rect#XMLID_120_.st70(x='55.8', y='337.5', width='3.6', height='3.6')
							rect#XMLID_1_.st70(x='50.5', y='324.9', width='3.6', height='3.6')
						path#brain-overlay.st71(d='M51.5,261.9l27.4-14.7l3.2-2.2l0.8-6.5l-7.9-7.8l-1.2-7L63,217.2l16-21.1l23-11.5l24.9-1.6\
						l47.4,3.8l44.6,20.4l20,16.4l6.1,22.3l0,0c1.7,3.8,0.4,8.4-3.1,10.7l-5.8,3.9c-6.9,4.6-15.2,6.7-23.5,5.8l-11.5-1.2l-15.1-4.7\
						c0,0-16.7-2.6-18.6-2.4c-1.8,0.2-21.4,0.8-21.4,0.8l-16.5-5.7l-8.9-1.5l-11.8-1.1L69,272.6L51.5,261.9z')
						g.falling-blocks-group
							g.banner-img-detail
								line.banner-img-detail__line(x1="-20" y1="150" x2="120" y2="150")
								text.nav-link-text.banner-img-detail__text(x="-100" y="150")
									tspan(x="-100") Automated
									tspan(x="-100" dy="15") Industry
							g.falling-group
								g#Layer_1.falling-block
									rect#XMLID_3165_.st70(x='93.1', y='116', width='9.6', height='9.6')
									lineargradient#XMLID_6_(gradientunits='userSpaceOnUse', x1='-110.1642', y1='-331.5616', x2='-110.4123', y2='-283.633', gradienttransform='matrix(-1 0 0 1 -12.4207 416.336)')
										stop(offset='0', style='stop-color:#FFFFFF;stop-opacity:0')
										stop(offset='1', style='stop-color:#F47D54')
									polygon#XMLID_3159_.st72(points='93,88.3 102.7,88.3 102.7,122.4 93,122.4 	')
								g#Layer_2.falling-block
									lineargradient#XMLID_7_(gradientunits='userSpaceOnUse', x1='-115.8881', y1='-385.5035', x2='-116.1971', y2='-325.8149', gradienttransform='matrix(-1 0 0 1 -12.4207 416.336)')
										stop(offset='0', style='stop-color:#FFFFFF;stop-opacity:0')
										stop(offset='1', style='stop-color:#F47D54')
									polygon#XMLID_3158_.st73(points='97.8,35.2 109.4,35.2 109.4,77.7 97.8,77.7 	')
									rect#XMLID_3137_.st70(x='97.9', y='76.8', width='11.5', height='11.5')
								g#Layer_3.falling-block
									lineargradient#XMLID_8_(gradientunits='userSpaceOnUse', x1='-166.9625', y1='-305.5839', x2='-167.3315', y2='-234.3188', gradienttransform='matrix(-1 0 0 1 -12.4207 416.336)')
										stop(offset='0', style='stop-color:#FFFFFF;stop-opacity:0')
										stop(offset='1', style='stop-color:#F47D54')
									polygon#XMLID_3161_.st74(points='148.9,115.9 160.5,115.9 160.5,166.7 148.9,166.7 	')
									rect#XMLID_3136_.st70(x='149', y='163.4', width='11.5', height='11.5')
								g#Layer_4.falling-block
									lineargradient#XMLID_9_(gradientunits='userSpaceOnUse', x1='-137.1201', y1='-298.9182', x2='-137.3547', y2='-253.5961', gradienttransform='matrix(-1 0 0 1 -12.4207 416.336)')
										stop(offset='0', style='stop-color:#FFFFFF;stop-opacity:0')
										stop(offset='1', style='stop-color:#F47D54')
									polygon#XMLID_3162_.st75(points='114.4,120.7 135.2,120.7 135.2,153 114.4,153 	')
									rect#XMLID_3134_.st70(x='114.3', y='142.6', width='20.8', height='20.8')
								g#Layer_5.falling-block
									lineargradient#XMLID_10_(gradientunits='userSpaceOnUse', x1='-160.2109', y1='-303.7892', x2='-160.3506', y2='-276.7978', gradienttransform='matrix(-1 0 0 1 -12.4207 416.336)')
										stop(offset='0', style='stop-color:#FFFFFF;stop-opacity:0')
										stop(offset='1', style='stop-color:#F47D54')
									polygon#XMLID_3160_.st76(points='143.2,114.5 152.5,114.5 152.5,133.7 143.2,133.7 	')
									rect#XMLID_3133_.st70(x='143.2', y='125.5', width='9.3', height='9.3')
								g#Layer_6.falling-block
									lineargradient#XMLID_11_(gradientunits='userSpaceOnUse', x1='-140.2393', y1='-342.3165', x2='-140.429', y2='-305.648', gradienttransform='matrix(-1 0 0 1 -12.4207 416.336)')
										stop(offset='0', style='stop-color:#FFFFFF;stop-opacity:0')
										stop(offset='1', style='stop-color:#F47D54')
									polygon#XMLID_3138_.st77(points='117.5,76.7 138.3,76.7 138.3,102.8 117.5,102.8 	')
									rect#XMLID_3132_.st70(x='117.6', y='91.2', width='20.8', height='20.8')
								g#Layer_7.falling-block
									lineargradient#XMLID_12_(gradientunits='userSpaceOnUse', x1='-175.9111', y1='-359.157', x2='-176.1667', y2='-309.7734', gradienttransform='matrix(-1 0 0 1 -12.4207 416.336)')
										stop(offset='0', style='stop-color:#FFFFFF;stop-opacity:0')
										stop(offset='1', style='stop-color:#F47D54')
									polygon#XMLID_3163_.st78(points='148.9,60.8 178.3,60.8 178.3,95.9 148.9,95.9 	')
									rect#XMLID_3131_.st70(x='149.3', y='85.5', width='29', height='29')
								g#Layer_8.falling-block
									lineargradient#XMLID_13_(gradientunits='userSpaceOnUse', x1='-144.203', y1='-373.6582', x2='-144.3233', y2='-350.4245', gradienttransform='matrix(-1 0 0 1 -12.4207 416.336)')
										stop(offset='0', style='stop-color:#FFFFFF;stop-opacity:0')
										stop(offset='1', style='stop-color:#F47D54')
									polygon#XMLID_3125_.st79(points='123.9,44.9 139.8,44.9 139.8,66.6 123.9,66.6 	')
									rect#XMLID_3123_.st70(x='123.9', y='60.8', width='15.9', height='15.9')
								g#Layer_9.falling-block
									lineargradient#XMLID_14_(gradientunits='userSpaceOnUse', x1='-168.2251', y1='-380.4375', x2='-168.2879', y2='-368.321', gradienttransform='matrix(-1 0 0 1 -12.4207 416.336)')
										stop(offset='0', style='stop-color:#FFFFFF;stop-opacity:0')
										stop(offset='1', style='stop-color:#F47D54')
									polygon#XMLID_3124_.st80(points='147.9,37.4 163.8,37.4 163.8,52 147.9,52 	')
									rect#XMLID_3121_.st70(x='147.9', y='44.9', width='15.9', height='15.9')
								g#Layer_10.falling-block
									rect#XMLID_3122_.st70(x='124.8', y='35.3', width='9.6', height='9.6')
									lineargradient#XMLID_15_(gradientunits='userSpaceOnUse', x1='-141.9818', y1='-388.7136', x2='-142.0323', y2='-378.9369', gradienttransform='matrix(-1 0 0 1 -12.4207 416.336)')
										stop(offset='0', style='stop-color:#FFFFFF;stop-opacity:0')
										stop(offset='1', style='stop-color:#F47D54')
									polygon#XMLID_3139_.st81(points='124.8,28.9 134.4,28.9 134.4,41.4 124.8,41.4 	')
								g#Layer_11.falling-block
									rect#XMLID_1915_.st70(x='191.2', y='100.3', width='9.6', height='9.6')
									lineargradient#XMLID_16_(gradientunits='userSpaceOnUse', x1='-208.2642', y1='-347.2513', x2='-208.5125', y2='-299.3228', gradienttransform='matrix(-1 0 0 1 -12.4207 416.336)')
										stop(offset='0', style='stop-color:#FFFFFF;stop-opacity:0')
										stop(offset='1', style='stop-color:#F47D54')
									polygon#XMLID_372_.st82(points='191.1,72.6 200.8,72.6 200.8,106.7 191.1,106.7 	')