section.section-area.banner-1#home.current(data-bg="white-nav")
	canvas#starfield.banner-stars(width='100%' height='100%')
	.logo-anim-container#particle-1
	.logo-anim-container#particle-2

	.container.section-container
		.banner-content-wrapper
			include ../components/banner-slider.pug
			include ../components/banner-1-svg.pug
	span.icon-explore-arrow.scroll-down-icon