section.section-area.section-area--no-full-ht.worked#industries(data-bg="white-nav")
	.worked-container
		div.industries-heading-container
			div(class="small-header about-slider-header industries-heading-container__heading") Industries we have worked with
		.mobile-view-1
			.worked-column.worked-column-0
				.worked-details-block.worked-details-block--0
					.image-text-block.image-text-block--reverse
						.worked-details-image.chemical-image
							img(src="img/industries/Chemical.svg")
						.small-header.worked-details-label CHEMICAL
					//- p.description-text.worked-details-text
					//- 	| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a nunc sit amet nisi interdum mattis ac eu purus.
			.worked-column.worked-column-1
				.worked-details-block.worked-details-block--1
					.image-text-block
						.worked-details-image.pharma-image
							img(src="img/industries/Pharma_svg.svg")
						.small-header.worked-details-label Pharmaceutical
					//- p.description-text.worked-details-text
					//- 	| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a nunc sit amet nisi interdum mattis ac eu purus.
		.mobile-view-2
			.worked-column.worked-column-2
				.worked-details-block.worked-details-block--2
					.image-text-block.image-text-block--reverse
						.worked-details-image.food-image
							img(src="img/industries/Food_Beverages.svg")
						.small-header.worked-details-label Food & Beverages
					//- p.description-text.worked-details-text
					//- 	| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a nunc sit amet nisi interdum mattis ac eu purus.
			.worked-column.worked-column-3
				.worked-details-block.worked-details-block--3
					.image-text-block
						.worked-details-image.oil-image
							img(src="img/industries/Oil_Gas.svg")
						.small-header.worked-details-label Oil & Gas Transmission
					//- p.description-text.worked-details-text
					//- 	| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a nunc sit amet nisi interdum mattis ac eu purus.